<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - E-Guru</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel='icon' type='image/icon type' href='../static/assets/HAL_favicon.png'>
</head>
<body>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form"  onsubmit="login(event)">
        <div class="form-header">
          <p class="app-name">E-GURU</p>
        </div>
        <div class="form-item">
          <label>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
                <circle cx="12" cy="7" r="4"/>
            </svg>
          </label>
          <input type="text" placeholder="Username" id="username"/>
        </div>
        <div class="form-item">
          <label class="lockLabel">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
                <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
            </svg>
          </label>
          <input type="password" placeholder="Password" id="password"/>
        </div>
        <button>Login</button>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="../static/jquery.min.js"></script>
  <script src="../static/login.js"></script>
</body>
</html>