<!DOCTYPE html>
<html lang="en">
<head>
    <title>Subjects - E-Guru</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/subjects.css">
    <link rel='icon' type='image/icon type' href='../static/assets/HAL_favicon.png'>
</head>
  <body>
    <div class="main">
      <h1>Subjects</h1>
      <ul class="cards">
      </ul>
    </div>
    <h3 class="made_by">E - GURU</h3>
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script src="../static/subjects.js"></script>
  </body>
</html>
